In [11]:
import pandas as pd

In [12]:
data = pd.read_csv('Data/pew.csv')

In [13]:
data

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [14]:
data = data.rename(columns={
    '$10-20k':'\$10k-\$20k','$20-30k':'\$20k-\$30k','$30-40k':'\$30k-\$40k','$40-50k':'\$40k-\$50k','$50-75k':'\$50k-\$75k'
})

In [15]:
data

,religion,<$10k,\$10k-\$20k,\$20k-\$30k,\$30k-\$40k,\$40k-\$50k,\$50k-\$75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [16]:
data.index.name = 'religion_id'

In [18]:
data = data.reset_index()

In [19]:
data

,religion_id,religion,<$10k,\$10k-\$20k,\$20k-\$30k,\$30k-\$40k,\$40k-\$50k,\$50k-\$75k
0,0,Agnostic,27,34,60,81,76,137
1,1,Atheist,12,27,37,52,35,70
2,2,Buddhist,27,21,30,34,33,58
3,3,Catholic,418,617,732,670,638,1116
4,4,Dont know/refused,15,14,15,11,10,35
5,5,Evangelical Prot,575,869,1064,982,881,1486
6,6,Hindu,1,9,7,9,11,34
7,7,Historically Black Prot,228,244,236,238,197,223
8,8,Jehovahs Witness,20,27,24,24,21,30
9,9,Jewish,19,19,25,25,30,95

In [24]:
data1 = pd.melt(data, id_vars=['religion_id', 'religion'],
               value_name='frequency', var_name='income_range')
data1 = data1.sort_values(['religion_id', 'religion'])

In [25]:
data1

    religion_id                  religion income_range  frequency
0             0                  Agnostic        <$10k         27
10            0                  Agnostic  \$10k-\$20k         34
20            0                  Agnostic  \$20k-\$30k         60
30            0                  Agnostic  \$30k-\$40k         81
40            0                  Agnostic  \$40k-\$50k         76
50            0                  Agnostic  \$50k-\$75k        137
1             1                   Atheist        <$10k         12
11            1                   Atheist  \$10k-\$20k         27
21            1                   Atheist  \$20k-\$30k         37
31            1                   Atheist  \$30k-\$40k         52
41            1                   Atheist  \$40k-\$50k         35
51            1                   Atheist  \$50k-\$75k         70
2             2                  Buddhist        <$10k         27
12            2                  Buddhist  \$10k-\$20k         21
22            2                  Buddhist  \$20k-\$30k         30
32            2                  Buddhist  \$30k-\$40k         34
42            2                  Buddhist  \$40k-\$50k         33
52            2                  Buddhist  \$50k-\$75k         58
3             3                  Catholic        <$10k        418
13            3                  Catholic  \$10k-\$20k        617
23            3                  Catholic  \$20k-\$30k        732
33            3                  Catholic  \$30k-\$40k        670
43            3                  Catholic  \$40k-\$50k        638
53            3                  Catholic  \$50k-\$75k       1116
4             4         Dont know/refused        <$10k         15
14            4         Dont know/refused  \$10k-\$20k         14
24            4         Dont know/refused  \$20k-\$30k         15
34            4         Dont know/refused  \$30k-\$40k         11
44            4         Dont know/refused  \$40k-\$50k         10
54            4         Dont know/refused  \$50k-\$75k         35
5             5         Evangelical Prot         <$10k        575
15            5         Evangelical Prot   \$10k-\$20k        869
25            5         Evangelical Prot   \$20k-\$30k       1064
35            5         Evangelical Prot   \$30k-\$40k        982
45            5         Evangelical Prot   \$40k-\$50k        881
55            5         Evangelical Prot   \$50k-\$75k       1486
6             6                    Hindu         <$10k          1
16            6                    Hindu   \$10k-\$20k          9
26            6                    Hindu   \$20k-\$30k          7
36            6                    Hindu   \$30k-\$40k          9
46            6                    Hindu   \$40k-\$50k         11
56            6                    Hindu   \$50k-\$75k         34
7             7  Historically Black Prot         <$10k        228
17            7  Historically Black Prot   \$10k-\$20k        244
27            7  Historically Black Prot   \$20k-\$30k        236
37            7  Historically Black Prot   \$30k-\$40k        238
47            7  Historically Black Prot   \$40k-\$50k        197
57            7  Historically Black Prot   \$50k-\$75k        223
8             8         Jehovahs Witness         <$10k         20
18            8         Jehovahs Witness   \$10k-\$20k         27
28            8         Jehovahs Witness   \$20k-\$30k         24
38            8         Jehovahs Witness   \$30k-\$40k         24
48            8         Jehovahs Witness   \$40k-\$50k         21
58            8         Jehovahs Witness   \$50k-\$75k         30
9             9                   Jewish         <$10k         19
19            9                   Jewish   \$10k-\$20k         19
29            9                   Jewish   \$20k-\$30k         25
39            9                   Jewish   \$30k-\$40k         25
49            9                   Jewish   \$40k-\$50k         30
59            9                   Jewish   \$50k-\$75k         95

In [26]:
data1.dtypes

religion_id      int64
religion        object
income_range    object
frequency        int64
dtype: object

In [27]:
del data1['religion_id']

In [31]:
 data1.style.hide_index()